# Fireveg DB imports -- Summary of data base content

Author: [JosÃ© R. Ferrer-Paris](https://github.com/jrfep)

Date: 20 August 2024

This Jupyter Notebook includes [Python](https://www.python.org) code to check the status of the Fireveg database.

Overview of all traits in the `litrev` data stream (fire ecology traits from existing sources).

**Please note:**
<div class="alert alert-warning">
    This repository contains code that is intended for internal project management and is documented for the sake of reproducibility.<br/>
    ðŸ›‚ Only users contributing directly to the project have access to the credentials for data download/upload. 
</div>

## Set-up
### Load modules

In [1]:
# work with paths in operating system
from pathlib import Path
import os, sys
import pandas as pd
from IPython.display import display, Markdown
# Pyprojroot for easier handling of working directory
import pyprojroot

### Define paths for input and output

Define project directory using the `pyprojroot` functions, and add this to the execution path.

In [2]:
repodir = pyprojroot.find_root(pyprojroot.has_dir(".git"))
sys.path.append(str(repodir))

### Load own functions
Load functions from `lib` folder, we will use a function to read db credentials, one for executing database queries and three functions for extracting data from the reference description string

In [3]:
from lib.parseparams import read_dbparams
from lib.firevegdb import dbquery
from lib.firevegsummary import show_trait_info

### Database credentials

ðŸ¤« We use a folder named "secrets" to keep the credentials for connection to different services (database credentials, API keys, etc). This checked this folder in our `.gitignore` so that its content are not tracked by git and not exposed. Future users need to copy the contents of this folder manually.

We read database credentials stored in a `database.ini` file using our own `read_dbparams` function.

Compare versions v1.0 and v1.1.

In [4]:
db_v1_1 = read_dbparams(repodir / 'secrets' / 'database.ini', 
                         section='fireveg-db-v1.1')

## Traits from existing sources

Read trait info into a data frame.

In [5]:
qry = """
SELECT code, name, description, value_type, life_stage,
life_history_process, category_vocabulary, method_vocabulary, priority
FROM litrev.trait_info ;
"""
res = dbquery(qry,db_v1_1)
data = pd.DataFrame(res)
trait_info=data.rename(columns={0:"Trait code", 1:"Trait name", 2:"Description", 4:"Life stage", 5:"Life history process",  3:"Value type",6:"category_vocabulary",7:"method_vocabulary", 8:"priority"})

### Survival

#### `surv1`: Resprouting - full canopy scorch

In [6]:
show_trait_info('surv1',trait_info,db_v1_1)

***Resprouting - full canopy scorch***: Ordinal categories of survival and resprouting proportions for plants subjected to 100% canopy scorch.

_Life Stage_: Standing plant / _Life history process_: Survival

##### Vocabulary for trait

                                                         0
None     < 5 % individuals in a population resprout aft...
Few      > 5 and < 30 % individuals in a population res...
Half     > 30 and < 70 % individuals in a population re...
Most     > 70 and < 90 % individuals in a population re...
All      > 90 % individuals in a population resprout af...
Unknown                                            No data

##### Vocabulary for the methods

                                                                                                    0
Direct field observation or measure (unknown sa...  Estimates based on data observed or measured i...
Direct observation (small sample)                   Estimates based on data observed or measured i...
Direct observation (large sample)                   Estimates based on data observed or measured i...
Estimated by extrapolation from observed values     Estimated by extrapolation from (time series) ...
Inferred from plant / organ / growth stage morp...  Inference based on relevant morphological stru...
Inferred from related taxa                          Assigned to same category as congeners or conf...
Manipulative experiment                             Manipulative experiment. Individuals sampled b...
Qualitative estimate                                Guestimate from visual assessment of post-fire...
Unspecified methods                                                  Methods unclear or undocumented.

#### Summary of data

     Value  Nr. records  Nr. taxa  Nr. valid
0     None        15571      6223       3683
1      Few          254       181        181
2     Half         2050      1024        726
3     Most          244       163        163
4      All        23336      8495       4260
5  Unknown            4         4          4
6     None            2         1          1

Transcription errors

  Value  Nr. records  Nr. taxa  Nr. valid
0   [S]            2         1          1

#### `surv4`: Regenerative Organ

In [7]:
show_trait_info('surv4',trait_info,db_v1_1)

***Regenerative Organ***: None.

_Life Stage_: Standing plant / _Life history process_: Survival

##### Vocabulary for trait

                                                                             0
Epicormic                    Resprouting from epicormic meristematic tissue...
Apical                       Resprouting from active shoots protected by cr...
Lignotuber                   Resprouting from meristematic tissues or buds ...
Basal                        Resprouting from meristematic tissues or buds ...
Tuber                        Resprouting from non-woody nodular subsoil org...
Tussock                      Shoots protected and resprouting within tightl...
Long rhizome or root sucker  Resprouting from buried woody or non-woody hor...
Short rhizome                Resprouting from buried woody or non-woody hor...
Stolon                       Resprouting from non-woody horizontal organs o...
None                                   No vegetative recovery - killed by fire

#### Summary of data

                         Value  Nr. records  Nr. taxa  Nr. valid
0                    Epicormic          147       146        146
1                       Apical           14        14         14
2                   Lignotuber          157       157        157
3                        Basal          630       630        613
4                        Tuber          104       104        104
5                Short rhizome          167       166        166
6  Long rhizome or root sucker          172       171        171
7                       Stolon            3         3          3
8                         None           17        16         16

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[Resprout location, apical buds]",4,4,4
1,"[Resprout location, basal, possibly rhizome, -...",1,1,1
2,"[Resprout location, basal rhizome]",1,1,1
3,"[Resprout location, basal & some epicormic, ->...",1,1,1
4,"[Resprout location, basal; stem buds; swamp fo...",1,1,1
5,"[Resprout location, basal: tuber (10; 48), ->,...",1,1,1
6,"[Resprout location, has rhizome]",2,2,2
7,"[Resprout location, or rhizome]",1,1,1
8,"[Resprout location, roots]",2,2,2
9,"[Resprout location, rootsuckers &, ->, ]",1,1,1
10,"[Resprout location, sometimes suckers]",1,1,1
11,"[Resprout location, stem bases]",1,1,1

#### `surv5`: Standing plant longevity (Max)

In [8]:
show_trait_info('surv5',trait_info,db_v1_1)

***Standing plant longevity (Max)***: Age at which 50% of individuals in a cohort (excluding outliers) have died from senescence.

_Life Stage_: Standing plant / _Life history process_: Survival

#### Summary of data

    best  lower  upper  Nr. records  Nr. taxa  Nr. valid
0  False  False  False          590       580        580
1  False  False   True           62        62         62
2  False   True  False          145       145        145
3  False   True   True          288       283        283
4   True  False  False          178       176        176

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[Life span, >100; may be disadvantaged by comp...",1,1,1
1,"[Life span, absent in older sites (20-25y)]",1,1,1
2,"[Life span, absent or rare in 10 yo heath]",4,4,4
3,"[Life span, absent or rare in 10 yo heath (46)]",7,7,7
4,"[Life span, absent or rare in 10 yo heath (46)...",1,1,1
...,...,...,...,...
83,"[Life span, short-medium (1), common at 20 yo ...",1,1,1
84,"[Life span, short-medium (1), present at 22 yo...",1,1,1
85,"[Life span, short (usually annual)]",1,1,1
86,"[Life span, stems live up to 25y, root-suckeri...",1,1,1
87,"[Life span, still present in 51 yo site (61)]",1,1,1

#### `surv6`: Seedbank half-life

In [9]:
show_trait_info('surv6',trait_info,db_v1_1)

***Seedbank half-life***: Age at which 50% of a seed cohort in an in situ seedbank have decayed or become inviable.

_Life Stage_: Seed / _Life history process_: Survival

#### Summary of data

    best  lower  upper  Nr. records  Nr. taxa  Nr. valid
0  False   True   True            1         1          1
1   True  False  False            6         6          6

Transcription errors

Empty DataFrame
Columns: [Value, Nr. records, Nr. taxa, Nr. valid]
Index: []

#### `surv7`: Seed longevity

In [10]:
show_trait_info('surv7',trait_info,db_v1_1)

***Seed longevity***: Age at which all seeds in a cohort (excluding outliers, e.g. 95th percentile) have decayed or become inviable.

_Life Stage_: Seed / _Life history process_: Survival

#### Summary of data

    best  lower  upper  Nr. records  Nr. taxa  Nr. valid
0  False  False  False           44        44         44
1  False  False   True            3         3          3
2  False   True  False           22        22         22
3  False   True   True            6         6          6
4   True  False  False           12        12         12

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[Seed-bank longevity, 4 to 5]",1,1,1
1,"[Seed-bank longevity, 6 mth]",1,1,1
2,"[Seed-bank longevity, c.20]",1,1,1
3,"[Seed-bank longevity, c. 25]",1,1,1
4,"[Seed-bank longevity, decades]",1,1,1
5,"[Seed-bank longevity, hl 0.9]",1,1,1
6,"[Seed-bank longevity, hl 10.7 y]",1,1,1
7,"[Seed-bank longevity, hl 2]",1,1,1
8,"[Seed-bank longevity, hl 7.6]",1,1,1
9,"[Seed-bank longevity, limited]",1,1,1
10,"[Seed-bank longevity, long]",10,10,10
11,"[Seed-bank longevity, long, hl 10]",1,1,1
12,"[Seed-bank longevity, present at 20 yo site]",1,1,1
13,"[Seed-bank longevity, seedbank may survive for...",1,1,1
14,"[Seed-bank longevity, seeds in cones lose viab...",1,1,1
15,"[Seed-bank longevity, short]",12,12,12
16,"[Seed-bank longevity, short?]",2,2,2
17,"[Seed-bank longevity, short (0.25)]",1,1,1
18,"[Seed-bank longevity, short, hl c. 3]",1,1,1
19,"[Seed-bank longevity, short term viabilty?]",1,1,1
20,"[Seed-bank longevity, short viability]",2,2,2
21,"[Seed-bank longevity, soil-stored seed bank is...",1,1,1

### Dispersal

#### `disp1`: Propagule dispersal mode

In [11]:
show_trait_info('disp1',trait_info,db_v1_1)

***Propagule dispersal mode***: Propagule dispersal mode.

_Life Stage_: Seed / _Life history process_: Dispersal

##### Vocabulary for trait

                                                                  0
wind-hairs        Diaspores with wings large enough to significa...
wind-wing         Diaspores with hairs long and dense enough to ...
wind-unspec.                Wind dispersal by unspecified mechanism
animal-ingestion  Diaspores with fleshy pericarp ingestable by v...
animal-cohesion   Diaspores with external structures/substances ...
animal-unspec.            Animal dispersal by unspecified mechanism
ant               Diaspores with elaiosome (various structures i...
water             Buoyancy in water (e.g. >24 hrs). Primarily re...
ballistic         Diaspores with explosive release from parent p...
passive           Diaspores with no specialised structures for d...
other                                                         Other

##### Vocabulary for the methods

                                                                                                    0
Direct field observation or measure (unknown sa...  Estimates based on data observed or measured i...
Direct observation (small sample)                   Estimates based on data observed or measured i...
Direct observation (large sample)                   Estimates based on data observed or measured i...
Inferred from plant / organ / growth stage morp...  Inference based on relevant morphological stru...
Manipulative experiment                             Manipulative experiment. Based on experimantal...
Unspecified methods                                                  Methods unclear or undocumented.

#### Summary of data

              Value  Nr. records  Nr. taxa  Nr. valid
0        wind-hairs           24        24         16
1         wind-wing          258       222        109
2      wind-unspec.         9319      3398       2150
3  animal-ingestion         1531      1065        688
4   animal-cohesion         2154      1505       1195
5    animal-unspec.         9378      4915       3466
6               ant         2412      1282        706
7             water          957       448        327
8         ballistic          125       114        100
9              None         8433      4979       2752

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[dispersal_appendage, bracts_and_glumes, mode]",9,9,8
1,"[dispersal_appendage, bracts_and_glumes hairs,...",1,1,1
2,"[dispersal_appendage, bristles, mode]",93,88,73
3,"[dispersal_appendage, bristles floral_parts, m...",1,1,1
4,"[dispersal_appendage, bristles hairs, mode]",3,3,3
...,...,...,...,...
133,"[dispersers, passive wind, mode]",151,150,102
134,"[dispersers, vehicles, mode]",2,2,2
135,"[dispersers, vehicles water wind, mode]",1,1,1
136,"[dispersers, vertebrates water wind, mode]",1,1,1
137,"[dispersers, water wind, mode]",34,34,17

### Recruitment

#### `rect2`: Establishment pattern

In [12]:
show_trait_info('rect2',trait_info,db_v1_1)

***Establishment pattern***: The temporal pattern of seedling or clonal establishment through the fire cycle.

_Life Stage_: Seedling / _Life history process_: Recruitment

##### Vocabulary for trait

                                                                     0
Intolerant           I- intolerant of conditions in established com...
Intolerant-Tolerant  I/T- intolerant or tolerant of conditions in e...
Tolerant             T- tolerant of conditions through the fire cyc...
Tolerant-Requiring   T/R- tolerant or requiring of conditions in es...
Requiring            R- requiring of of conditions in established c...
Unknown                                                        No data

#### Summary of data

                 Value  Nr. records  Nr. taxa  Nr. valid
0           Intolerant          639       637        637
1  Intolerant-Tolerant            3         3          3
2             Tolerant          320       320        320
3            Requiring           35        34         34
4                 None           91        87         87

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[Establishment, a few seedlings in 25 yo site]",1,1,1
1,"[Establishment, a few seedlings present at 4 y...",2,2,2
2,"[Establishment, a few seedlings present at 6yo...",1,1,1
3,"[Establishment, a few seedlings seen at 20 yo ...",1,1,1
4,"[Establishment, a few seedlings seen at 4 yo s...",1,1,1
5,"[Establishment, a few seedlings seen in 25 yo ...",1,1,1
6,"[Establishment, after fire and sporadically in...",1,1,1
7,"[Establishment, appears to be coloniser of dis...",1,1,1
8,"[Establishment, coloniser]",4,4,4
9,"[Establishment, coloniser (10), ->, coloniser]",1,1,1
10,"[Establishment, coloniser of open sites (1), -...",1,1,1
11,"[Establishment, coloniser, shade intolerant]",1,1,1
12,"[Establishment, colonising species]",1,1,1
13,"[Establishment, establishes in rocky crevices ...",1,1,1
14,"[Establishment, even aged stands indicate post...",1,1,1
15,"[Establishment, Fire does not appear to result...",1,1,1
16,"[Establishment, Fire has been demonstrated to ...",1,1,1
17,"[Establishment, germination prolific after cle...",1,1,1
18,"[Establishment, germination rapid after fire o...",1,1,1
19,"[Establishment, juveniles present that have ge...",1,1,1
20,"[Establishment, linked to distrubance]",1,1,1
21,"[Establishment, more prevalent under canopy]",1,1,1
22,"[Establishment, occurs along road verges]",1,1,1
23,"[Establishment, occurs following fire, soil di...",1,1,1
24,"[Establishment, occurs in absence of fire, sit...",1,1,1
25,"[Establishment, often colonise disturbed sites...",1,1,1
26,"[Establishment, possibly a coloniser of distur...",1,1,1
27,"[Establishment, possibly colonises bared sites...",1,1,1
28,"[Establishment, possibly related to disturbance]",1,1,1
29,"[Establishment, post-fire germination pulse, a...",1,1,1
30,"[Establishment, probably light-requiring colon...",1,1,1
31,"[Establishment, recruitment mainly after flood...",1,1,1
32,"[Establishment, recruitment most prolific afte...",1,1,1
33,"[Establishment, References!C10]",3,3,3
34,"[Establishment, seedlinds shade intolerant]",1,1,1
35,"[Establishment, seedlings common along tracks;...",1,1,1
36,"[Establishment, seedlings found in scrub unbur...",1,1,1
37,"[Establishment, seedlings present at 13 yo site]",1,1,1
38,"[Establishment, seedlings seen in 10-22 yo sites]",1,1,1
39,"[Establishment, seedlings shade intolerant]",7,7,7
40,"[Establishment, seedlings shade intolerant (96...",1,1,1
41,"[Establishment, seedlings shade intolerant (96...",1,1,1
42,"[Establishment, seedlings shade intolerant (96...",1,1,1
43,"[Establishment, seedlings shade tolerant]",12,12,12
44,"[Establishment, seedlings shade tolerant (96),...",2,2,2
45,"[Establishment, Seedlings shade tolerant (96),...",1,1,1
46,"[Establishment, seedlings shade tolerant (96),...",1,1,1
47,"[Establishment, seedlings shade tolerant (96),...",1,1,1
48,"[Establishment, seedlings shade tolerant (96),...",1,1,1
49,"[Establishment, seeldings shade intolerant]",2,2,2
50,"[Establishment, shade intolerant]",4,4,4
51,"[Establishment, shade intolerant, secondary sa...",1,1,1
52,"[Establishment, shade tolerant]",4,4,4
53,"[Establishment, shade tolerant (96), seedlings...",1,1,1
54,"[Establishment, small numbers of seedlings may...",1,1,1
55,"[Establishment, Some form of disturbance appea...",1,1,1
56,"[Establishment, stimulated by fire]",3,3,3
57,"[Establishment, young plants do not tolerate f...",1,1,1

### Germination

#### `germ1`: Seedbank Type

In [13]:
show_trait_info('germ1',trait_info,db_v1_1)

***Seedbank Type***: None.

_Life Stage_: Seed / _Life history process_: Germination

##### Vocabulary for trait

                                                                 0
Canopy           Seeds withheld for >1yr within woody fruits in...
Soil-persistent  Seeds released at maturity with a fraction (mi...
Transient        Seeds released from woody or fleshy fruits at ...
Non-canopy       Seedbanks uncertain but not canopy type (eithe...

#### Summary of data

             Value  Nr. records  Nr. taxa  Nr. valid
0  Soil-persistent         3950      2342       1402
1        Transient          387       379        371
2           Canopy         1099       674        329
3       Non-canopy          233       229         51
4             None          130       126         60

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[seedbank_location, none, mode]",109,106,40
1,"[Seed storage, not known to set seed]",1,1,1
2,"[Seed storage, persistent soil, exhausted by d...",2,2,2
3,"[Seed storage, released at maturity]",1,1,1
4,"[Seed storage, released at maturity (1), ->, r...",1,1,1
5,"[Seed storage, released regularly without fire...",1,1,1
6,"[Seed storage, requires recolonisation from un...",1,1,1
7,"[Seed storage, sets no seed]",2,2,2
8,"[Seed storage, shed annually; transient, ->, s...",1,1,1
9,"[Seed storage, short-lived persistent soil]",2,2,2
10,"[Seed storage, short-lived soil]",6,6,6
11,"[Seed storage, short-lived soil, exhausted by ...",1,1,1
12,"[Seed storage, short-lived soil, exhausted by ...",1,1,1
13,"[Seed storage, transient; requires reinvasion ...",1,1,1

#### `germ8`: Seed dormancy type

In [14]:
show_trait_info('germ8',trait_info,db_v1_1)

***Seed dormancy type***: None.

_Life Stage_: Seed / _Life history process_: Germination

##### Vocabulary for trait

                                                       0
PY     Physical dormancy (PY) is caused by a water-im...
PD     Physiological dormancy (PD) is caused by a che...
PY-PD  A combination of physical dormancy (PY) and ph...
MPD    A combination of morphological dormancy (MD), ...
MD     Morphological dormancy (MD) is caused by an un...
ND     Non-dormant (ND) species are able to germinate...

##### Vocabulary for the methods

                                                                                                    0
Direct field observation or measure (unknown sa...  Estimates based on data observed or measured i...
Direct observation (small sample)                   Estimates based on data observed or measured i...
Direct observation (large sample)                   Estimates based on data observed or measured i...
Inferred from plant / organ / growth stage morp...  Inference based on relevant morphological stru...
Inferred from related taxa                          Assigned to same category as congeners or conf...
Unspecified methods                                                  Methods unclear or undocumented.

#### Summary of data

  Value  Nr. records  Nr. taxa  Nr. valid
0    PY         1409      1377        349
1    PD         1347      1338        355
2   MPD          456       450        119
3    ND          956       912        266
4  None            3         3          3

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[seed_dormancy_class, non_dormant physiologica...",3,3,3

### Growth

#### `grow1`: Age to develop regenerative/resistance organs

In [15]:
show_trait_info('grow1',trait_info,db_v1_1)

***Age to develop regenerative/resistance organs***: The time taken to develop organs or tissues enabling at least 50% of cohort survival when fully scorched in a fire.

_Life Stage_: Standing plant / _Life history process_: Growth

##### Vocabulary for the methods

                                                                                                    0
Direct field observation or measure (unknown sa...  Estimates based on data observed or measured i...
Direct observation (small sample)                   Estimates based on data observed or measured i...
Direct observation (large sample)                   Estimates based on data observed or measured i...
Estimated by extrapolation from observed values     Estimated by extrapolation from (time series) ...
Trait evidence, but start date uncertain            Evidence of trait expression, but age of first...
Inferred from plant / organ / growth stage morp...  Inference based on relevant morphological stru...
Inferred from related taxa                          Assigned to same category as congeners or conf...
Manipulative experiment                             Manipulative experiment. Experimental heating ...
No evidence of trait expression by specified age    No evidence of trait expression by specified a...
Unspecified methods                                                  Methods unclear or undocumented.

#### Summary of data

    best  lower  upper  Nr. records  Nr. taxa  Nr. valid
0  False  False  False           23        22         22
1  False  False   True            1         1          1
2  False   True  False            3         3          3
3  False   True   True            2         2          2
4   True  False  False            4         4          4

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[Fire tolerance, 1.5 yo plants killed (95)]",1,1,1
1,"[Fire tolerance, basal skirt of bark for prote...",1,1,1
2,"[Fire tolerance, c. 15]",1,1,1
3,"[Fire tolerance, early]",1,1,1
4,"[Fire tolerance, estimate 8-10y to produce fir...",1,1,1
5,"[Fire tolerance, lignotuber absent in seedlings]",1,1,1
6,"[Fire tolerance, lignotuber develops in seedli...",4,4,4
7,"[Fire tolerance, lignotuber starts to develop ...",3,3,3
8,"[Fire tolerance, lignotuber starts to develop ...",1,1,1
9,"[Fire tolerance, minimum stem circumference fo...",1,1,1
10,"[Fire tolerance, minimum stem circumference fo...",1,1,1
11,"[Fire tolerance, minimum stem circumference to...",1,1,1
12,"[Fire tolerance, minimum stem circumference to...",1,1,1
13,"[Fire tolerance, minimum stem circumference to...",1,1,1
14,"[Fire tolerance, minimum stem circumference to...",1,1,1
15,"[Fire tolerance, minimum stem circumference to...",1,1,1
16,"[Fire tolerance, minimum stem circumference to...",1,1,1
17,"[Fire tolerance, several years; 30-35 years to...",1,1,1

### Reproduction

#### `repr2`: Post-fire flowering response

In [16]:
show_trait_info('repr2',trait_info,db_v1_1)

***Post-fire flowering response***: None.

_Life Stage_: Standing plant / _Life history process_: Reproduction

##### Vocabulary for trait

                                                             0
Exclusive    Flowering occurs exclusively in the first 5 ye...
Facultative  Flowering occurs most prolifically in the firs...
Negligible   Flowering similar or variable throughout the f...
Unknown                                                No data

#### Summary of data

         Value  Nr. records  Nr. taxa  Nr. valid
0    Exclusive           70        66         31
1  Facultative          407       376        170
2   Negligible           74        74          9
3         None           20        20         20

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[Post-fire flowering, 1]",1,1,1
1,"[Post-fire flowering, <1]",1,1,1
2,"[Post-fire flowering, 1 year]",1,1,1
3,"[Post-fire flowering, 26 weeks post-fire]",1,1,1
4,"[Post-fire flowering, 28 and 44 weeks post int...",1,1,1
5,"[Post-fire flowering, 2 months post-fire]",1,1,1
6,"[Post-fire flowering, 2 year]",1,1,1
7,"[Post-fire flowering, 3 months post-fie]",1,1,1
8,"[Post-fire flowering, exclusive-some populatio...",1,1,1
9,"[Post-fire flowering, facultative, flowering 1...",1,1,1
10,"[Post-fire flowering, facultative, flowers mat...",1,1,1
11,"[Post-fire flowering, flowering 1 year post-fire]",1,1,1
12,"[Post-fire flowering, flowers especially after...",1,1,1
13,"[Post-fire flowering, flowers more freely afte...",1,1,1
14,"[Post-fire flowering, flowers more regularly a...",1,1,1
15,"[Post-fire flowering, flowers well after fire]",1,1,1
16,"[Post-fire flowering, References!C22]",1,1,1
17,"[Post-fire flowering, two years post-fire]",1,1,1
18,"[Post-fire flowering, yes 1 year post-fire]",1,1,1
19,"[Post-fire flowering, yes - one post-fire flow...",1,1,1

#### `repr3`: Age at first flower production (from seed):

In [17]:
show_trait_info('repr3',trait_info,db_v1_1)

***Age at first flower production (from seed)***: The time taken for first individual in a recruitment cohort to produce their first reproductive organs (e.g. flowers, sporophylls).

_Life Stage_: Standing plant / _Life history process_: Reproduction

##### Vocabulary for the methods

                                                                                                    0
Direct field observation or measure (unknown sa...  Estimates based on data observed or measured i...
Direct observation (small sample)                   Estimates based on data observed or measured i...
Direct observation (large sample)                   Estimates based on data observed or measured i...
Trait evidence, but start date uncertain            Evidence of trait expression, but age of first...
No evidence of trait expression by specified age    No evidence of trait expression by specified a...
Unspecified methods                                                  Methods unclear or undocumented.

#### Summary of data

    best  lower  upper  Nr. records  Nr. taxa  Nr. valid
0  False  False  False           49        47         47
1  False  False   True           84        84         84
2  False   True  False           39        39         39
3  False   True   True          151       146        146
4   True  False  False          610       570        566
5   True   True  False            3         3          3

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[Primary juvenile period, ]",1,1,1
1,"[Primary juvenile period, 0.25-0.5]",1,1,1
2,"[Primary juvenile period, 0.3]",1,1,1
3,"[Primary juvenile period, <10% flowering at 4 ...",1,1,1
4,"[Primary juvenile period, 15% produce seed at 1y]",1,1,1
5,"[Primary juvenile period, 2;]",1,1,1
6,"[Primary juvenile period, 22 months]",1,1,1
7,"[Primary juvenile period, 2; 3 (138)]",1,1,1
8,"[Primary juvenile period, 2.5 (1b)]",1,1,1
9,"[Primary juvenile period, 2 for first flowerin...",1,1,1
10,"[Primary juvenile period, >2, peak flowering 4...",1,1,1
11,"[Primary juvenile period, >3<10]",1,1,1
12,"[Primary juvenile period, >3<10 (48)]",3,3,3
13,"[Primary juvenile period, 3, >6 (1b)]",1,1,1
14,"[Primary juvenile period, 3 for first flowerin...",1,1,1
15,"[Primary juvenile period, <3 for some plants, ...",1,1,1
16,"[Primary juvenile period, 3, peak <5]",1,1,1
17,"[Primary juvenile period, 3, peak 5 (1)]",1,1,1
18,"[Primary juvenile period, 4 for first flowerin...",1,1,1
19,"[Primary juvenile period, 4 for first flowerin...",1,1,1
20,"[Primary juvenile period, 4 to first flowering...",1,1,1
21,"[Primary juvenile period, 5, 8 on shallow soil...",1,1,1
22,"[Primary juvenile period, 5% of plants floweri...",1,1,1
23,"[Primary juvenile period, 6, 8 (9)]",1,1,1
24,"[Primary juvenile period, at least 3y]",1,1,1
25,"[Primary juvenile period, c. 3]",1,1,1
26,"[Primary juvenile period, c. 5]",2,2,2
27,"[Primary juvenile period, c. 80]",1,1,1
28,"[Primary juvenile period, flowring starts at 1...",1,1,1
29,"[Primary juvenile period, no flowering after 5...",1,1,1
30,"[Primary juvenile period, one plant flowering ...",1,1,1
31,"[Primary juvenile period, one plant flowering ...",1,1,1
32,"[Primary juvenile period, peak flowering at 5 ...",1,1,1
33,"[Primary juvenile period, Preliminary observat...",1,1,1
34,"[Primary juvenile period, probably 1]",2,2,2
35,"[Primary juvenile period, References!C12]",1,1,1
36,"[Primary juvenile period, References!C2]",1,1,1
37,"[Primary juvenile period, short (61)]",1,1,1
38,"[Primary juvenile period, slow to mature]",6,6,6
39,"[Primary juvenile period, some green fruit at ...",1,1,1

#### `repr3a`: Time to first postfire reproduction (from resprouts

In [18]:
show_trait_info('repr3a',trait_info,db_v1_1)

***Time to first postfire reproduction (from resprouts)***: The time taken after fire for first reproductive organs (e.g. flowers, sporophylls) to be produced in a population of resprouting individuals.

_Life Stage_: Standing plant / _Life history process_: Reproduction

##### Vocabulary for the methods

                                                                                                    0
Direct field observation or measure (unknown sa...  Estimates based on data observed or measured i...
Direct observation (small sample)                   Estimates based on data observed or measured i...
Direct observation (large sample)                   Estimates based on data observed or measured i...
Trait evidence, but start date uncertain            Evidence of trait expression, but age of first...
No evidence of trait expression by specified age    No evidence of trait expression by specified a...
Unspecified methods                                                  Methods unclear or undocumented.

#### Summary of data

    best  lower  upper  Nr. records  Nr. taxa  Nr. valid
0  False  False  False           87        87         87
1  False  False   True          124       124        124
2  False   True  False           19        19         19
3  False   True   True           39        39         39
4   True  False  False          394       392        383
5   True  False   True            1         1          1

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,"[Secondary juvenile period, ]",1,1,1
1,"[Secondary juvenile period, 0.2]",1,1,1
2,"[Secondary juvenile period, 0.2-0.3]",1,1,1
3,"[Secondary juvenile period, 0.2; 1.25 (138)]",1,1,1
4,"[Secondary juvenile period, 0.3]",6,6,6
5,"[Secondary juvenile period, 0.3-0.4]",1,1,1
6,"[Secondary juvenile period, 0.3 (1), 10-40% fl...",1,1,1
7,"[Secondary juvenile period, 0.3 (52), 0.4 (105)]",1,1,1
8,"[Secondary juvenile period, 0.4]",1,1,1
9,"[Secondary juvenile period, 0.5; 1 (138)]",1,1,1
10,"[Secondary juvenile period, 0.5; 1.25 (138)]",1,1,1
11,"[Secondary juvenile period, 0.6 (1), 10-40 % w...",1,1,1
12,"[Secondary juvenile period, 0.75]",5,5,5
13,"[Secondary juvenile period, <10% flowering at ...",1,1,1
14,"[Secondary juvenile period, 10% of plants flow...",1,1,1
15,"[Secondary juvenile period, <10% with flowers ...",1,1,1
16,"[Secondary juvenile period, 1; 4 (138)]",1,1,1
17,"[Secondary juvenile period, 1.5]",1,1,1
18,"[Secondary juvenile period, 1.8 (10), 0.4 (105...",1,1,1
19,"[Secondary juvenile period, 18 months]",1,1,1
20,"[Secondary juvenile period, 19 months to flowe...",1,1,1
21,"[Secondary juvenile period, 2; <1 (138)]",1,1,1
22,"[Secondary juvenile period, 2; 1 (138)]",1,1,1
23,"[Secondary juvenile period, <2.5]",4,4,4
24,"[Secondary juvenile period, >3<10]",5,5,5
25,"[Secondary juvenile period, < 3.5]",1,1,1
26,"[Secondary juvenile period, >85% flowering, <1...",1,1,1
27,"[Secondary juvenile period, >85% flowering at ...",2,2,2
28,"[Secondary juvenile period, 9 months]",1,1,1
29,"[Secondary juvenile period, a few flowering at...",1,1,1
30,"[Secondary juvenile period, c. 3.5]",1,1,1
31,"[Secondary juvenile period, peak flowering at ...",1,1,1
32,"[Secondary juvenile period, References!C36]",6,6,6
33,"[Secondary juvenile period, short]",31,31,31
34,"[Secondary juvenile period, some flowering at ...",1,1,1

#### `repr4`: Maturation age

In [19]:
show_trait_info('repr4',trait_info,db_v1_1)

***Maturation age***: The time taken for 50% of individuals in a cohort [even aged recruits] to produce their first viable seed.

_Life Stage_: Standing plant / _Life history process_: Reproduction

##### Vocabulary for the methods

                                                                                                    0
Direct field observation or measure (unknown sa...  Estimates based on data observed or measured i...
Direct observation (small sample)                   Estimates based on data observed or measured i...
Direct observation (large sample)                   Estimates based on data observed or measured i...
Estimated by extrapolation from observed values     Estimated by extrapolation from (time series) ...
Trait evidence, but start date uncertain            Evidence of trait expression, but age of first...
Inferred form other trait                           Inferred from values of a different, but relat...
Inferred from partial data                          Inferred from incomplete or indirect informati...
No evidence of trait expression by specified age    No evidence of trait expression by specified a...
Unspecified methods                                                  Methods unclear or undocumented.

#### Summary of data

    best  lower  upper  Nr. records  Nr. taxa  Nr. valid
0  False  False  False            1         1          1
1  False  False   True            3         3          3
2  False   True  False            1         1          1
3  False   True   True            7         7          7
4   True  False  False            9         9          9
5   True  False   True            1         1          1
6   True   True  False            1         1          1

Transcription errors

,Value,Nr. records,Nr. taxa,Nr. valid
0,[Prim Juv period - 6 for 50% of population to ...,1,1,1